
  <section class="questions">
    <section class="wrapper">

      <section class="details">
        <h2>Question <%= @question.order %> of <%= @question_count %></h2>
        <p><strong><%= @game.topic %>: </strong><%= @game.title %></p>

      </section>

      <section class="question">
        <p><%= @question.content %></p>
      </section>
      <div class="countdown-wrapper" data-controller="countdown", data-countdown-correct-answer-id-value=<%= @correct_answer_id %> data-countdown-first-question-value=<%= @question.order == 1 %>>
        <%= simple_form_for @response, data: {countdown_target: "form"} do |f| %>

          <div class="form-inputs">
            <%= f.collection_radio_buttons :answer_id, @question.answers, :id, :content %>
          </div>
          <div class="form-inputs d-none">
            <%= f.input :question_id, input_html: { value: @question.id }%>
          </div>
          <div class="form-actions d-none">
            <%= f.button :submit, value: "Submit answer", class: "primary button", data: { countdown_target: "submit"} %>
          </div>

          <% end %>
          <div class="countdown-content" data-countdown-target="content">
        </div>

        <!-- Live table -->
        <section class="livetable show" data-countdown-target="livetable">

          <h2>Live ladder</h2>
          <div class="live">
            <div class="pulse">
              <div class="default"></div>
              <div class="transition"></div>
            </div>
            <h6>Live</h6>
          </div>
          <br>
          <% @users.each_with_index do |user, index|%>

            <section class="player <%= user == current_user ? 'current'.html_safe : '' %>">
              <section class="player-avatar">
                <% if user.headshot.attached? %>
                    <%= cl_image_tag user.headshot.key, data: { user_id: user.id, game_subscription_target: "avatar"}, class: "profile-head-default #{user.first_name}" %>
                  <% else %>
                    <%= link_to edit_user_registration_path do %>
                      <%= image_tag "profile-head-default.png", data: { user_id: user.id, game_subscription_target: "avatar"}, class: "profile-head-default #{user.first_name}" %>
                    <% end %>
                  <% end %>
              </section>
              <section class="player-details">
                <section class="player-name"><h4><%= user.first_name %> <%= user == current_user ? '<span>YOU</span>'.html_safe : '' %></h4><section class="status"><%= image_tag "icon-arrow-up.svg", class: "up" %><%= image_tag "icon-arrow-down.svg", class: "down" %></section></section>
              </section>
              <section class="player-score"><h3><%= user.game_score(@question.game) %></h3></section>
            </section>


          <% end %>
        </section>
      </div>

    </section>



  </section>
</section>
