

<section class="landing">

  <section class="wrapper">

    <%= image_tag "logo-primary.svg" %><br><br>
    <h4>Flashcards made better. Sign up today and win Bintangs!</h4><br>
    <%= link_to "Create an account", new_user_registration_path, class: "secondary button" %><br><br>
    <p><%= link_to "Already registered? Login", new_user_session_path %></p>

  </section>

  <%= image_tag "pin.svg", class: "pin" %>
  <%= image_tag "wheel.svg", class: "wheel" %>

</section>
