  <h2>Leaderboard</h2>
  <p><%= @games_count[:all] %> games total | <%= @games_count[:started] %> games started | <%= @games_count[:completed] %> games completed </p>

<section class="leadertable">
  <% @users.each_with_index do |user, index|%>

    <section class="player <%= user == current_user ? 'current'.html_safe : '' %>">
      <section class="player-avatar">

        <% if user.full_body.attached? %>
          <%= cl_image_tag user.full_body.key %>
        <% else %>

          <%= link_to edit_user_registration_path do %>
            <%= image_tag "profile-body-default.png" %>
          <% end %>
        <% end %>

      </section>
      <section class="player-details">
        <section class="player-name"><h4><%= user.first_name %> <%= user == current_user ? '<span>YOU</span>'.html_safe : '' %></h4></section>
        <section class="player-points"><%= user.current_total_score %> points</section>
      </section>
      <section class="player-total">
        <%= index + 1 %>
      </section>
    </section>

  <% end %>
</section>
