    <section class="profile-photo">
    <% if current_user.full_body.attached? %>
      <%= cl_image_tag @current_user.full_body.key, class: "profile-body-default" %>
    <% else %>
      <%= image_tag "profile-body-default.png", class: "profile-body-default" %>
    <% end %>
    </section>
    <section class="user-details">

      <% if current_user.headshot.attached? %>
        <%= cl_image_tag @current_user.headshot.key, class: "profile-head-default" %>
      <% else %>
        <%= image_tag "profile-head-default.png", class: "profile-head-default" %>
      <% end %>

      <div>
        <h3><%= @user_first_name %> <%= @user_last_name %></h3>
        <p><%= @user_email  %></p>
      </div>

    </section>

    <section class="actions">
      <%= link_to "Edit profile", edit_user_registration_path, class: "secondary button" %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "secondary button"%>
    </section>
