
<% @games.each do |game| %>
  <h2><%= game.topic %></h2>
  <p><%= game.title %></p>

  <section class="resultstable">

    <% game.played_users.sort_by{|user| -user.game_score(game) }.each_with_index do |user, index|%>

      <section class="player <%= user == current_user ? 'current'.html_safe : '' %>">
        <section class="player-avatar">

          <% if user.headshot.attached? %>
              <%= cl_image_tag user.headshot.key, data: { user_id: user.id, game_subscription_target: "avatar"}, class: "profile-head-default #{user.first_name}" %>
            <% else %>
              <%= link_to edit_user_registration_path do %>
                <%= image_tag "profile-head-default.png", data: { user_id: user.id, game_subscription_target: "avatar"}, class: "profile-head-default #{user.first_name}" %>
              <% end %>
            <% end %>

            <% if user.full_body.attached? %>
              <%= cl_image_tag user.full_body.key, class: "profile-body-default #{user.first_name}" %>
            <% else %>
              <%= link_to edit_user_registration_path do %>
                <%= image_tag "profile-body-default.png", class: "profile-body-default #{user.first_name}" %>
              <% end %>
            <% end %>

        </section>

        <section class="player-details">
          <section class="player-name"><h4><%= user.first_name %> <%= user == current_user ? '<span>YOU</span>'.html_safe : '' %></h4></section>
        </section>
        <section class="player-points"><%= user.game_score(game) %> points</section>
        <section class="player-score"><h3></h3></section>
      </section>

    <% end %>
  </section>

<% end %>
