
  <h2>Games won</h2>
  <p>4 games played</p>

  <section class="resultstable">

      <section class="player current">
        <section class="player-avatar">
            <%= image_tag "phillip-body.png", class: "profile-body-default Phillip" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Phillip <span>YOU</span></h4></section>
        </section>
        <section class="player-points">2 games</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "michele-head.png", class: "profile-head-default Michele" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Michele</h4></section>
        </section>
        <section class="player-points">1 games</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "indy-head.png", class: "profile-head-default Indy" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Indy</h4></section>
        </section>
        <section class="player-points">1 games</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "christina-head.png", class: "profile-head-default Christina" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Phillip</h4></section>
        </section>
        <section class="player-points">1 games</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "millie-head.png", class: "profile-head-default Millie" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Millie</h4></section>
        </section>
        <section class="player-points">0 games</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "ademide-head.png", class: "profile-head-default Ademide" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Ademide</h4></section>
        </section>
        <section class="player-points">0 games</section>
        <section class="player-score"><h3></h3></section>
      </section>

  </section>


  <h2>Correct answers</h2>
  <p>Out of 184 questions</p>

  <section class="resultstable">

      <section class="player">
        <section class="player-avatar">
            <%= image_tag "christina-body.png", class: "profile-body-default Christina" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Christina</h4></section>
        </section>
        <section class="player-points">176 correct</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "michele-head.png", class: "profile-head-default Michele" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Michele</h4></section>
        </section>
        <section class="player-points">175 correct</section>
        <section class="player-score"><h3></h3></section>
      </section>

      <section class="player current">
        <section class="player-avatar">
            <%= image_tag "phillip-head.png", class: "profile-head-default Phillip" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Phillip<span>YOU</span></h4></section>
        </section>
        <section class="player-points">152 correct</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "ademide-head.png", class: "profile-head-default Ademide" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Ademide</h4></section>
        </section>
        <section class="player-points">125 correct</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "indy-head.png", class: "profile-head-default Indy" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Indy</h4></section>
        </section>
        <section class="player-points">123 correct</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "millie-head.png", class: "profile-head-default Millie" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Millie</h4></section>
        </section>
        <section class="player-points">101 correct</section>
        <section class="player-score"><h3></h3></section>
      </section>

  </section>


  <h2>Fastest finger</h2>
  <p>Fastest correct response</p>

  <section class="resultstable">

      <section class="player">
        <section class="player-avatar">
            <%= image_tag "indy-fullbody.png", class: "profile-body-default Indy" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Indy</h4></section>
        </section>
        <section class="player-points">0.51 seconds</section>
        <section class="player-score"><h3></h3></section>
      </section>

      <section class="player">
        <section class="player-avatar">
            <%= image_tag "millie-head.png", class: "profile-head-default Millie" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Millie</h4></section>
        </section>
        <section class="player-points">0.89 seconds</section>
        <section class="player-score"><h3></h3></section>
      </section>

      <section class="player">
        <section class="player-avatar">
            <%= image_tag "christina-head.png", class: "profile-head-default Christina" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Christina</h4></section>
        </section>
        <section class="player-points">1.21 seconds</section>
        <section class="player-score"><h3></h3></section>
      </section>
      <section class="player">
        <section class="player-avatar">
            <%= image_tag "michele-head.png", class: "profile-head-default Michele" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Michele</h4></section>
        </section>
        <section class="player-points">1.55 seconds</section>
        <section class="player-score"><h3></h3></section>
      </section>

      <section class="player">
        <section class="player-avatar">
            <%= image_tag "ademide-head.png", class: "profile-head-default Ademide" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Ademide</h4></section>
        </section>
        <section class="player-points">1.82 seconds</section>
        <section class="player-score"><h3></h3></section>
      </section>

      <section class="player current">
        <section class="player-avatar">
            <%= image_tag "phillip-head.png", class: "profile-head-default Phillip" %>
        </section>
        <section class="player-details">
          <section class="player-name"><h4>Phillip<span>YOU</span></h4></section>
        </section>
        <section class="player-points">2.45 seconds</section>
        <section class="player-score"><h3></h3></section>
      </section>

  </section>
