<div class="container">
  <h2>All Games</h2>
  <div id="games">
    <% @games.each do |game| %>

      <h4><%= game.topic %></h4>
      <p><%= game.title %></p>

      <%= link_to "Play game", game %>

    <% end %>
  </div>

  <br>

  <h2>Started Games</h2>
  <div id="games-completed">
    <% @games_started.each do |game| %>

      <h4><%= game.topic %></h4>
      <p><%= game.title %></p>

      <%= link_to "Continue playing", game %>

    <% end %>
  </div>

  <br>

  <h2>Completed Games</h2>
  <div id="games-completed">
    <% @games_completed.each do |game| %>

      <h4><%= game.topic %></h4>
      <p><%= game.title %></p>

      <%= link_to "Play again", game %>

    <% end %>
  </div>
  </div>


</div>

<% console %>
