
    <section class="wrapper">
      <section class="summary">

      <% if current_user.full_body.attached? %>
        <section class="profile-head" style="background-image: linear-gradient(180deg, rgba(27,28,30,0) 75%, rgba(27,28,30,.99) 95%), url(<%= cloudinary_url current_user.full_body.key %>)"></section>
      <% else %>
        <%= link_to edit_user_registration_path do %>
          <section class="profile-head" style="background-image: linear-gradient(180deg, rgba(27,28,30,0) 75%, rgba(27,28,30,.99) 95%), url(<%= asset_path 'profile-body-default.png' %>)"></section>
        <% end %>
      <% end %>

        <p>Welcome back <%= current_user.first_name %>,</p>
        <h1>You're a Wagon Wheel genius!</h1>
        <ul>
          <li class="current-standing"><span>Current standing</span><strong>1st</strong></li>
          <li class="best-result"><span>Best result</span><strong>1st</strong></li>
          <li class="latest-result"><span>Latest result</span><strong>2nd</strong></li>
        </ul>
        <a href="#" class="primary button">Join game</a><%= link_to "Leaderboard", leaderboard_path, class: "secondary button" %>

      </section>
    </section>

<!--
    <section class="wrapper">

      <section class="title">
        <h3>All games</h3>
        <p><%= @games.count %> games</p>
      </section>

      <section class="games">
        <% @games.each do |game| %>
          <section class="game <%= game.topic.downcase %>">
              <a href="games/<%= game.id %>">
                <%= image_tag "icon-#{game.topic.downcase}.svg", class: "icon" %>
                <h4><%= game.topic %></h4>
                <h5><%= game.title %></h5>
                <span>Play game</span>
              </a>
          </section>
        <% end %>
      </section>

    </section>
-->

    <section class="wrapper">

      <section class="title">
        <h3>Upcoming games</h3>
        <p><%= @games_remaining_count %> games remaining</p>
      </section>

      <section class="games">
        <% @games_remaining.each do |game| %>
          <section class="game <%= game.topic.downcase %>">

            <% if game.questions.count > 1 %>
              <a href="games/<%= game.id %>">
                <%= image_tag "icon-#{game.topic.downcase}.svg", class: "icon" %>
                <h4><%= game.topic %></h4>
                <h5><%= game.title %></h5>
                <span>Play game</span>
              </a>
            <% else %>
              <a>
                <%= image_tag "icon-#{game.topic.downcase}.svg", class: "icon" %>
                <h4><%= game.topic %></h4>
                <h5><%= game.title %></h5>
                <span>Coming soon</span>
              </a>
            <% end %>
          </section>
        <% end %>
      </section>

    </section>

    <section class="wrapper">

      <section class="title">
        <h3>Started games</h3>
        <p><%= @games_in_session.count %> games started</p>
      </section>

      <!--section class="games">
        <% @games_started.each do |game| %>
          <section class="game <%= game.topic.downcase %>">
              <a href="games/<%= game.id %>">
                <%= image_tag "icon-#{game.topic.downcase}.svg", class: "icon" %>
                <h4><%= game.topic %></h4>
                <h5><%= game.title %></h5>

                <section class="users connecting">

                  <% game.users.each do |user| %>
                    <section class="user">
                      <% if user.headshot.attached? %>
                        <%= cl_image_tag user.headshot.key, class: "profile-head-default" %>
                      <% else %>
                        <%= image_tag "profile-head-default.png",class: "profile-head-default" %>
                      <% end %>
                    </section>
                  <% end %>
                </section>

                <span>Continue game</span>
              </a>
          </section>
        <% end %>
      </section-->

      <section class="games">
        <% @games_in_session.each do |game_session| %>
          <section class="game <%= game_session.game.topic.downcase %>">
              <a href="games/<%= game_session.game.id %>">
                <%= image_tag "icon-#{ game_session.game.topic.downcase}.svg", class: "icon" %>
                <h4><%= game_session.game.topic %></h4>
                <h5><%= game_session.game.title %></h5>

                <section class="users connecting">

                  <% game_session.game.users.each do |user| %>
                    <section class="user">
                      <% if user.headshot.attached? %>
                        <%= cl_image_tag user.headshot.key, class: "profile-head-default" %>
                      <% else %>
                        <%= image_tag "profile-head-default.png",class: "profile-head-default" %>
                      <% end %>
                    </section>
                  <% end %>
                </section>

                <span>Continue game</span>
              </a>
          </section>
        <% end %>
      </section>

    </section>

    <section class="wrapper">

      <section class="title">
        <h3>Completed games</h3>
        <p><%= @games_count[:completed] %> games completed</p>
      </section>

      <section class="games">
        <% @games_completed.each do |game| %>
          <section class="game <%= game.topic.downcase %>">
              <a href="games/<%= game.id %>">
                <%= image_tag "icon-#{game.topic.downcase}.svg", class: "icon" %>
                <h4><%= game.topic %></h4>
                <h5><%= game.title %></h5>

                <section class="users connecting">

                <% game.users.each do |user| %>
                    <section class="user">
                      <% if user.headshot.attached? %>
                        <%= cl_image_tag user.headshot.key, class: "profile-head-default" %>
                      <% else %>
                        <%= image_tag "profile-head-default.png",class: "profile-head-default" %>
                      <% end %>
                    </section>
                  <% end %>
                </section>

                <span>Play again</span>
              </a>
          </section>
        <% end %>
      </section>

    </section>
