<h2>Final result</h2>
<p>You answered <%= @total_score %> questions correctly.</p>

<%#= current_user.first_name %>

<section class="resultstable" data-controller="score-timer">

  <% @users.each_with_index do |user, index|%>

    <section class="player <%= user == current_user ? 'current'.html_safe : '' %>">
      <section class="player-avatar">

        <% if user.headshot.attached? %>
            <%= cl_image_tag user.headshot.key, data: { user_id: user.id, game_subscription_target: "avatar"}, class: "profile-head-default #{user.first_name}" %>
          <% else %>
            <%= link_to edit_user_registration_path do %>
              <%= image_tag "profile-head-default.png", data: { user_id: user.id, game_subscription_target: "avatar"}, class: "profile-head-default #{user.first_name}" %>
            <% end %>
          <% end %>

          <% if user.full_body.attached? %>
            <%= cl_image_tag user.full_body.key, class: "profile-body-default #{user.first_name}" %>
          <% else %>
            <%= link_to edit_user_registration_path do %>
              <%= image_tag "profile-body-default.png", class: "profile-body-default #{user.first_name}" %>
            <% end %>
          <% end %>

      </section>

      <section class="player-details">
        <section class="player-name"><h4><%= user.first_name %> <%= user == current_user ? '<span>YOU</span>'.html_safe : '' %></h4></section>
      </section>
      <section class="player-points"><%= user.game_score(@game) %> points</section>
      <section class="player-score"><h3></h3></section>
    </section>

  <% end %>

  <section class="winner" data-score-timer-target="resultstable">
    <section class="result">
      <%= image_tag "phillip-head-party.png", class: "party" %>
      <span class="won">You won!</span>
      <p>Well done <%= @user_first_name %>. You mastered <%= @game.topic %>, <%= @game.title %>. It's now time to collect your prize!</p>
    </section>
  </section>

</section>
