
<div data-controller="game-subscription" data-game-subscription-game-id-value="<%= @game.id %>">
    <h2>Hang Tight!</h2>
    <p>Your friends are connecting in. The game will commence shortly.</p>

    <section class="users">
      <% @users.each do |user| %>
        <section class="user <%= 'connected' if (user.id == current_user.id) || (@game.users.include? user) %>"
          data-game-subscription-target="avatarContainer" data-user-id=<%= user.id %>>
          <% if user.headshot.attached? %>
            <%= cl_image_tag user.headshot.key, data: { user_id: user.id, game_subscription_target: "avatar"}, class: "profile-head-default #{user.first_name}" %>
          <% else %>
            <%= link_to edit_user_registration_path do %>
              <%= image_tag "profile-head-default.png", data: { user_id: user.id, game_subscription_target: "avatar"}, class: "profile-head-default #{user.first_name}" %>
            <% end %>
          <% end %>
          <%= image_tag "icon-tick.svg", class: "tick" %>
          <span><%= user.first_name %></span>
        </section>
      <% end %>
  </section>

  <section class="actions <%= "d-none" unless current_user == User.find_by(email: "phillip@gmail.com") %>">
    <%= link_to "Start game", question_url(@game.questions.find_by(order: 1)), class: "primary button", data: { game_subscription_target: "start" } %>
  </section>
</div>
