<!DOCTYPE html>
<html>
  <head>
    <title>Wagon Wheel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller.controller_name %>-template <%= params[:action] %>">
      <% unless current_page?(root_path) && !user_signed_in? || current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(new_user_password_path) %>
        <section class="main">
        <%= render "shared/navbar" %>
      <% end %>

      <section class="content">
        <%= yield %>
      </section>

    </section>

    <%= render "shared/flashes" %>

  </body>
</html>
